<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-udeskplugin"
    version="1.0.6" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>udeskplugin</name>
    <js-module name="udeskplugin" src="www/UdeskPlugin.js">
        <clobbers target="cordova.plugins.udeskplugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="udeskplugin">
                <param name="android-package" value="cordova.plugin.udeskplugin.UdeskPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">

        </config-file>
        <source-file src="src/android/udeskAAR.aar" target-dir="libs" />
        <source-file src="src/android/udesksdk-im-release-3.9.1.aar" target-dir="libs" />
        <framework src="src/android/UdeskPlugin.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/UdeskPlugin.java" 
            target-dir="src/cordova/plugin/udeskplugin/UdeskPlugin" />
    </platform>
</plugin>
